	* { -moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}
@body-color: #808080;
@link-color: #000;
@link-hover: #808080;
@accent-color: #75CDEC;
@header-color: #353535;

@navWidth:50%;
@navBg:#252525;
@barColor:#353535;
@barHeight:50px;
@responsiveButton:#666;
@bodyWidth:1140px;

@import '../../framework/css/defaults.less';

.purple{
color:#795da4;
}



.mobile-only{
	display:none;
}


a.strong{
font-family: OpenSansRegular;
}

ul.social_links li{
	width:32px;
	height:32px;
	display:block;
	float:left;
}

.contact_info{
	text-align:right;
	color:#fff;
}

hr {
display: block;
border: 0;
border-top: 1px solid #CCC;
padding: 0;
margin: 0;
width:100%;

margin-top: 40px;

}


header#header{
	height:112px;
	margin-top:0px !important;
	border-bottom:1px solid #979797;
	margin-bottom:21px;
}

form#header_search{
	background-color:#F2F2F2;
}

body{
	font-family: helvetica;
	color:#979797;
	font-size:14px;
	line-height:22px;
}

body a{
	color: #795DA4;
text-decoration: none;
}

body p{
		line-height:22px;
	font-size:14px;
	color:#979797;

}

.body_container{
	width:940px !important;
	background-repeat:no-repeat;
}

.home .body_container{
	/*background-image:url('../images/home.jpg');*/
}

/*********************************************
Navigatiom

**********************************************/


 h1, h2, h3, h4, h5{
/*    width:100%;*/
font-family: OpenSansCondensedLight;
letter-spacing:2px;
}

.upper_nav>ul>li.active>a {
background-color:#795da4;
color:#fff;
}

.upper_nav{
	font-family:OpenSansLight;
		margin-top:60px;

	
	> ul{
		list-style-type:none;
	    position:relative;
		z-index:100;
		float:left;
		padding:0px !important;
		margin:0px !important;
	
		> li {
		    position:relative;
		    float:left;
			cursor:pointer;
			line-height:16px;
			

			> a  {
				display:block;
				text-decoration:none;
				text-align: center;
				padding:5px 5px;
				font-size:12px;
				text-transform:uppercase;
				color:#795da4;
				max-width:90px;
				margin-right:2px;

				 &:hover{
					background-color:#795da4;
										color:#fff;

				}
				}/*end a */
			
			&:hover > a{
					background-color:#795da4;
					color:#fff;
				}
			
		
/*****************************************************
Navigation Drop Downs
*****************************************************/
			&:hover > ul, &:hover > .drop{
			    visibility:visible;
			    opacity:1;
			    top:100%;
			    left:0px;
				}
			
			ul, .drop{
				list-style-type:none;
	            visibility:hidden;
	            position: absolute;
	            top: 100%;
	            opacity:0;
	            -webkit-transition:all .3s ease-in-out;
	            /* -webkit-transition:all 0.2s linear;*/
	           
			    background-color: #aea2c5;
				padding:0px 2px;
				
				 }/*end drop downs*/
		
			 ul.right, .drop.right{
					     right:0px;	 
				 }
			 
			 ul.drop{
				 
				 li{
					 
					 a{
					 	text-decoration:none;
			             width: 150px;
			            /* padding: 2px 12px; */
						color:#fff;
						padding:4px 8px;
						display:block;
						font-size:11px;
						text-transform:uppercase;
						
						
						&:hover{
							text-decoration:underline;

						}
					 }
					 
					 &:last-child{
					 border-bottom:none; 
					 }
			 
 /*****************************************************
 Navigation Drop Downs Level 2
 *****************************************************/
				 &:hover ul{
					 top:0% !important;
					}
					
				 ul{
		             left: 100%;
		             top: 0px;
    
		             border-left:1px solid #333;
				 
					 
					 }/*end nested ul 2*/
			
				 }/*end nested li*/
			 }/*end nested ul*/
		
		}/*end li */

	}/*end ul */
	
}/*end full_horizontal */


#left_nav{
	float:left;
	width:320px;
}

#left_nav.upper_nav>ul>li>a{
	width:77px !important;
}
#right_nav.upper_nav>ul>li>a{
	width:68px !important;
}
#right_nav{
	float:left;
	padding-left:25px;
	width:320px;
}

#header_search {
	float:right;
}

#header_search input[type='text']{
background-color:#f2f2f2;
border:none;
padding:5px;
width: 130px;
}

#header_search button{
	 background-image:url('../images/search-8x8.png');
	 background-repeat:no-repeat;
	 background-color:#f2f2f2;
	 padding:5px 8px;
	 border:none;
	 margin-right:-8px;
	 background-position:center;
	 cursor:pointer; 
}

#branding{
	width:300px;
	float:left;
}

/*
Home Page Slider
*/

.flex-control-nav {

position: absolute;
top: 20px;
left:20px;
height:20px;
max-width:100px;
text-align: left;
}

.flex-control-paging li a{
	background:#686868;
}
.flex-control-paging li a {
width: 10px;
height: 10px;
}

.flex-control-nav li {
margin: 0 3px;
display: inline-block;
zoom: 1;
}

.flex-control-paging li a.flex-active{

		background:#795da4;
}

.flex-direction-nav a {

background: url(../images/bg_direction_nav.png) no-repeat 0 0;

}

/********************
Home Page Boxes
*******************/
.page-template-template-home-php .page_body{
	height:380px;
}

.home_item{
	float:left;
	height:300px;
	width:320px;
	margin-right:20px;
	position:relative;
}

.home_item.small{
	width:180px;
	margin-right:0px;

}

.home_item .overlay{
	font-family:OpenSansCondensedLight;
	letter-spacing:2px;
	height:60px;
	position:absolute;
	bottom:0px;
	width:100%;
	background-color:rgba(0, 0, 0, 0.65);
	color:#fff;
	line-height:50px;
	padding:5px;
	text-align:center;
	text-transform:uppercase;
	font-size:24px;
	font-weight:200;
}

.home_item:hover .overlay{

	background-color:#795da4;
	color:#fff;

}
/*
Page Templates
*/

.page_body{
	background-color:#f2f2f2;
	margin-top:40px;
	padding:40px;

}

.page_body h2{
	margin:0px 0px 20px 0px;
	text-transform:uppercase;
	color:#9b8bb9;
	font-weight:200;

font-size: 24px;
letter-spacing: 4px;

}

/*
About Page
*/
.association .thumb{
	float:left;
	margin-right:20px;
}

.association .content{
	float: left;
width: 150px;
}


/*
Contact Page
*/
.employee {
	margin-bottom:20px;
	color:#979797;

}


.employee .thumb{
	float:left;
	margin-right:10px;
}
.employee .content{
	float:left;
	width:270px;
}

.page_body h1{
	font-size:28px;
	font-weight:200;
	text-transform: uppercase;
	margin-bottom:20px;
	color: #636466;
}



.page_body h3{
font-size:16px;
font-weight:200;
.purple;
}

.employee .name{
	font-size:16px;
	color:#795da4;
	font-weight:200;
}

.employee .title{
	font-size:10px;
	text-transform:uppercase;
}

.employee .email{
	color:#979797;
	text-decoration:none;
}

/*
Gallery
*/

.galleria-info{
	background-color:#fff;
	color:#795da4;
	text-shadow:none;

}

.galleria-thumbnails-list,
.galleria-thumbnails .galleria-image img,
.galleria-thumbnails,
.galleria-thumbnails-tab
{
	background-color:#fff !important;
}

.galleria-container{
	background:none;

}

.galleria-info-title {
font-size:14px;
}

/*
Blog
*/

.blog .page_body, .single-post .page_body{
	background:none;
	padding:40px 0px;
	margin-top:0px;
}

.blog .page_header{
	margin-top:20px;
}

.blog #content_block section#primary_content,
.single #content_block section#primary_content{
	float:left;
	width:700px;
	background-color:#f2f2f2;
	padding:40px;
	margin:0px;

}

.blog article,
.single article,
.search article{
	margin-bottom:40px;
}

.blog article .entry_meta,

.single article .entry_meta{
	margin-bottom:20px;
	text-transform: uppercase;
	margin-top:10px;

}
.blog article .entry_meta a,
.single article .entry_meta a{
	color:#696969;
	text-decoration:none;
}

.blog article a,
.single article a {
text-decoration:none;
color:#795da4;

}

.blog article .entry_image{
	margin-bottom:20px;
}

article img, object{
	height:auto !important;
}

#content_block aside.aside {
margin-top: 0px;
margin-bottom: 20px;
}

//Twitter widget

.widget-title{
	margin-bottom:20px !important;
}

.widget_twitter div ul li{
	margin-bottom:40px;
	}

	.widget_twitter .entry-meta{
	display:block;
	}

	.widget_twitter .intent-meta a{
	margin-right:10px;
	}



h3.entry_title{
	font-size:22px;
	text-transform:uppercase;
}

.widget-title{
	
	text-transform:uppercase;
	margin-bottom:35px;
}

.widget{
	padding:40px 30px 0px;
	border-top:1px solid #696969;

}

.widget ul li{

display:block;
margin-bottom:10px;}
.widget ul li a{
	margin-bottom:10px;
	color:#795da4;
	text-decoration:none;
}
/*
Item Categories
*/

.call_to_action{
	display:block;
	font-size:22px;
	width:800px;
	text-align:center;
	margin:auto;
	margin-top:20px;

	font-family:times;
	font-weight:200;
	font-style :italic;
	line-height:26px;
}

.item_category_wrap{

	display:block;
	margin-bottom:20px;
	width:100%;
}
.item_categories li{
	float:left;
	padding-right:1%;
	padding-bottom:10px;
		width:20%;
		text-align:center;
		

}

.item_categories li a{
	line-height:22px;
	color:#696969;
	background-color:#fff;
	display:block;

	text-decoration:none;
	text-transform:uppercase;
	font-size:12px;
	font-weight:200;
}

.item_categories li a.active, .item_categories li a:hover{
	background-color:#795da4;
	color:#fff;
}


/*
Essential Page
*/

.post-type-archive-essentials .page_body h1, .post-type-archive-specialty .page_body h1{
	font-size:32px;
	font-weight:200;
	letter-spacing:4px;
	padding-bottom:10px;
}

.essential_item{
	margin-top:30px;
	padding-top:40px;
	border-top:1px solid #979797;
}

.row{
	
	padding-bottom:20px;
}

/*
Specialty Page
*/
.specialty_wrap{

}


.specialty_item.featured{
	width:640px;
}

.specialty_item.featured .overlay{
	height:255px;
		background-color:#795da4;

display:table;

}

.specialty_item.featured .overlay .inner{
	display:table-cell;
		vertical-align: middle;
		width:100% !important;
		padding:12px;
		text-align: left;
	text-transform:none	;

}

.specialty_item.featured .overlay .inner p{
	color:#fff;
}

.specialty_item.featured .overlay h2{
	color:#fff;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #fff;
	font-family:serif;
	font-style:italic;
	line-height:22px;
		text-transform:none	;

}

.specialty_item{
	float:left;
width:200px;
margin-right:20px;

	height:255px;
	margin-bottom:40px;
	position:relative;

}
.triangle{
	display:block;
	width: 0px;
height: 0px;
border-style: solid;
border-width: 20px 0 20px 20px;
border-color: transparent transparent transparent #795da4 ;
position: absolute;
right:-20px;
top:50%;
margin-top:-20px;
}

.specialty_item .overlay{
	opacity: .8;
	z-index:2;
	background-color:#d9d9d9;
	display:block;
	text-align:center;
	width:200px;
	height:35px;
	line-height:35px;
	position:absolute;
	bottom:0px;
	color:#78797b;
	text-transform:uppercase;
	text-decoration:none;
}
.specialty_item:hover .overlay{
	background-color:#795da4;
	color:#fff;
}

.pop_share{
	position:absolute;
	top:10px;
	left:20px;
}

a.pop_share:hover{
	opacity:.8;
}

.pop_inner, .pop_inner p{
	color:#fff;

}

.pop_inner h2{
	font-size:32px;
	font-family:serif;
	font-style:italic;
	font-weight:200;
	border-bottom:1px solid #fff;
	padding-bottom:10px;
	margin-bottom:10px;
}

.pop_left .inner a.phone{
	color:#fff;
}

.pop_left{
	background-color:#795da4;
	float:left;
	width:248px;
	height:520px;
display:table;

-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}

.pop_left .contact .button{
	.gradient(#775da4, #4f3773);
	border:1px solid #3c245c;
	width:195px;
	margin:auto;
	font-size:11px;
	line-height:22px;
	border-radius:6px;
	display:block;
	color:#fff;
	margin-bottom:10px;	
	padding:5px 8px;
}

.pop_left .contact{
	position:absolute;
	bottom:15px;
	text-align: center;
	color:#fff;
	width:220px;
}
.pp_bottom, .pp_top{
	display:none;
}

.pop_left .inner{
	display:table-cell;
	vertical-align: middle;
	
	padding:10px;
	
}

.pop_right{
	float:left;
}

div.pp_default .pp_content_container .pp_left, div.pp_default .pp_content_container .pp_right, {
	background:transparent;
}

div.pp_default .pp_close {
top: -525px;
position: absolute;
}

div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next{
	position:absolute;
	margin-top:-270px;
	background-image:url('../images/pp_pbs.png');
}

div.pp_default .pp_close{
		background-image:url('../images/pp_pbs.png');

}
div.pp_default  .pp_arrow_previous{
	left:-40px;
}
div.pp_default  .pp_arrow_next{
	left:786px !important;
}
.currentTextHolder, .pp_play{
	display:none;
}

div.pp_content, div.pp_pic_holder{
	overflow:visible !important;
}

div.pp_content{
	height:520px !important;
}


/*Single Specialty*/

.single-specialty{
	text-align:center;
}
/*
Footer
*/
footer#primary{
	border-top:1px solid #979797;
	padding-top:20px;
	margin-top:60px;
	height:100px;
		font-size:11px;

}
ul.social_links{
	float:left;
	margin:0px;
	padding:0px;
}
ul.social_links li{
	width:20px;
	height:20px;
	margin-right:8px;
			background-color:#c9cbcc;

}
ul.social_links li a{
	width:20px;
	height:20px;
	cursor:pointer;

}

ul.social_links li:hover{
background-color:#8061a8;
}
ul.social_links .google{
	background-image:url('../images/social/google.png');
}
ul.social_links .twitter{
	background-image:url('../images/social/twitter.png');
}
ul.social_links .facebook{
	background-image:url('../images/social/facebook.png');
}
ul.social_links .pinterest{
	background-image:url('../images/social/pinterest.png');
}

ul.social_links .contact{

	text-transform:uppercase;
	line-height:20px;
	width:100px;


}

ul.social_links .contact a{
	width:95px;
	text-decoration:none;
	color:#fff;
	text-align:center;
	display:block;
	padding:0px;


}


footer .copyright{
float:right;
color:#b1b3b6;
}

.footer_branding{
	margin:auto;
	text-align:center;
	margin-top:-33px;
}

.pp_inline  .inner{
	height:520px !important;
	
}

.legal.inner{
	padding:50px;
		
}


/*
Fonts
*/

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 1, 2013 06:13:10 AM America/New_York */



@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedLightItalic';
    src: url('../fonts/OpenSans-CondLightItalic-webfont.eot');
    src: url('../fonts/OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondLightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-CondLightItalic-webfont.svg#OpenSansCondensedLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('../fonts/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-CondBold-webfont.svg#OpenSansCondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}






 /***************************

Featured image

****************************/




@media screen and (min-width:1024px){
 
		
}


@media screen and (max-width: 1140px){


}
/* iPad [portrait + landscape] */
@media only screen and (min-width: 768px) and (max-width: 960px) {



}




/************************************************************************************
smaller than 768
*************************************************************************************/
@media screen and (max-width: 768px) {

#left_nav, #right_nav{
	width:95%;
}



.upper_nav>ul{
	width:100%;
	float:none;
}

.upper_nav>ul>li{
	float:none;
}

#right_nav{
	margin-top:0px !important;
	width:95%;
}
#left_nav.upper_nav>ul>li>a, #right_nav.upper_nav>ul>li>a{
	width:100% !important;
	max-width:inherit;
	border-bottom:1px solid #efefef;
}

#header_search input[type='text']{
	width:95%;
}

#header_search{
	width:100%;
	margin-top:20px;
}
.association.one_third{
width:100%;
margin-bottom:20px;
}
.association .thumb {
float: left;
margin-right: 3%;
width: 24%;
}

.association .content {
float: left;
width: 73%;
}
	.body_container{
		width:100% !important;
		margin:auto;
	}
header#header{
	border:none;
	height:auto;
}
	.flexslider{display:none;}


#branding{
	float:none;
	margin:auto;
}

#left_nav{
	float:none !important;
	margin:auto;
	margin-top:20px;
}

#right_nav{
	float:none;
	margin:auto;
	margin-top:20px;
	padding-left:0px;
	/*width:300px;*/
}

.drop{
	display:none;
}

.upper_nav{
	margin-top:20px;
	}

	.home_item{
		margin:auto;
		margin-bottom:20px;
		float:none;
		width:320px;
	}
	
	.home_item.small{
		margin:auto;
		float:none;
	}

	.page-template-template-home-php .page_body{
		height:inherit;
		text-align: center;
	}

	ul.social_links {
float: none;
margin:auto;

width: 220px;
}

footer .copyright{
	width:100%;
	text-align:center;
	margin:auto;
}

/*
Soecialty Page
*/

.call_to_action{
	width:95%;
	margin-bottom:20px;

}


.specialty_item.featured{
	display:none;
}

.specialty_item{
	float:none;
	margin:auto;
	margin-bottom:20px;
}

.specialty_item.last{
	margin-right:auto !important;
	clear:both;
}
.item_categories li{
	width:50%;
	padding-right:3%;
}
.page_header{
	display:none;
}

.page_body{
	margin-top:0px;
	padding:10px;
		padding-top:20px;

}
.page_body h1, .page_body h2{
	text-align:center;
}

.blog #content_block section#primary_content, .single #content_block section#primary_content{
	width:100%;
}

#content_block aside.aside-right{
	float:none;
	width:100%;
}
.mobile-only{
	display:block !important;
}

.no-mobile{
	display:none;
}

.share {
display: block;
position: absolute;
top: 25px !important;
left: 10px !important;}


.back{
	right:10px !important;
	top:20px !important;
}

.galleria-image-nav-right, .galleria-image-nav-left{
	display:block;
	opacity:1 !important;
	background-position: #fff !important;
}

.page-template-template-contact-php p{
	text-align:center;

}

.office_info{
	width:310px;
	float:none;
	margin:auto;
}

.office_info p{
	text-align: left;
}


.employee_info{
	margin-right:auto !important;
	width:100% !important;
}
.employee{
	width:310px;
margin:auto;
margin-bottom:20px;
float:none;}

.employee .content{
	
	
	width:150px;
}

.employee .thumb{
	width:150px;
	}
}




/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {
	

}

		
	.gradient(@startColor: #555, @endColor: #333) {
		background-color: @endColor;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
		background-image: -webkit-linear-gradient(@startColor, @endColor);
		background-image: -moz-linear-gradient(@startColor, @endColor);
		background-image: -o-linear-gradient(top,  @startColor,  @endColor);
		background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
		filter: e(%("progid:DXImageTransform.Microsoft.Gradient(StartColorStr='%d', EndColorStr='%d', GradientType=0)",@startColor,@endColor));
		-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorStr='%d', EndColorStr='%d', GradientType=0))",@startColor,@endColor);
	}
	

//@import '../../framework/css/navigation.less';
@import '../../framework/css/blog.less';
//@import '../../framework/css/typography.less';


